.modal-size-lg {
  position: absolute;
  margin-top: 90px;
  margin-left: 145px;
  padding: 15px 15px 15px 15px;
  width: 1550px;
  background-color: white;
  border: 0px solid wheat;
  transform: translate(-2%, -5%);
}
