

// Pen Settings
$accent: #33b5e5;
$module-width: 320px;
// Main Colors
$white: #ffffff;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);