// src/styles/LoginForm.scss

.login-form-container {
  margin-top: 2rem;
  margin-left: '250px';
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &.small-screen {
  width: 100%;
  padding: 0px;  
   border-radius: 8px;
   box-shadow: 0px 0px 0px 0px #ccc;
   margin-top: 14.5rem
  }
}

.login-form {
  width: 50%;
  margin-top: 1.5rem;
  margin-left: 40.5rem;
  .MuiFormControl-root {
    margin-bottom: 1rem;
  }
}

.submit-button {
  margin: 1.5rem 0 1rem;
}


// Media query for small screens
@media only screen and (max-width: 600px) {
  .login-form-container {
    box-shadow: 50px 50px 50px 50px #ccc;
    padding: 1rem;
    margin-top: '350px';
    border-radius: 4px;
  }
}
