.submenu {
  padding-left: 20px; // Adjust the padding as needed
}

.submenu-item {
  margin-left: 70px; // Adjust the margin as needed
}

.active {
  background-color: #ccc; // Adjust the background color for active items
}